NODE_ENV=development

APP_NAME=Pharmacy Backend

PORT=3000

API_PREFIX=api

API_VERSION=v1

DATABASE_URL="postgresql://postgres:password@localhost:5432/pharmacy"

JWT_SECRET=THIS_IS_A_VERY_LONG_RANDOM_SECRET_AT_LEAST_32_CHARACTERS

JWT_ACCESS_TOKEN_TTL=15m

JWT_REFRESH_TOKEN_TTL=30d

SWAGGER_ENABLED=true

SWAGGER_PATH=docs

CORS_ORIGIN=*

CORS_CREDENTIALS=true